@import common

h1
  font-family: 'museo-slab-1','museo-slab-2', sans-serif
  font-size: 225%
  font-weight: bold
  line-height: 1.25
h2
  color: gray
  font-family: 'museo-slab-1','museo-slab-2', sans-serif
  font-size: 150%
  font-weight: light
  margin-bottom: .25em
a
  color: $sb_green
  text-decoration: none
  &:hover
    cursor: pointer
    text-decoration:  underline

///////////////////////////////////////////////////////////
// MAIN NAVIGATION BAR ////////////////////////////////////
///////////////////////////////////////////////////////////
nav
  background-image: url('/images/logo.png')
  background-position: 0 0
  background-repeat: no-repeat
  display: block
  height: 80px
  min-width: 42px
  margin: 30px auto
  width: $container_width
  //padding-left: 60px
  ul
    float: right
    font-family: 'museo-slab-1','museo-slab-2', sans-serif
    list-style: none
    li
      display: inline-block
      float: left
      font-size: 110%
      padding: 0 20px
      text-align: right
      a
        color: inherit
        font-weight: bold
        &:hover
          color: $sb_green
          text-decoration: none
    .blog
      @include round(4px)
      background-color: $sb_green
      padding: 3px 8px
      &:hover
        color: yellow

///////////////////////////////////////////////////////////
// HEADLINE SECTION ///////////////////////////////////////
///////////////////////////////////////////////////////////

img.me
  -webkit-transform: rotate(5deg)
  -moz-transform: rotate(5deg)
  -webkit-box-shadow: 0 2px 5px $sb_dark_gray
  -moz-box-shadow: 0 2px 5px $sb_dark_gray
  box-shadow: 0 2px 5px $sb_dark_gray
  border: 5px solid white
  float: right
  position: relative
  right: -30px
  top: -130px
  z-index: 3
img.me_b
  -webkit-transform: rotate(-2deg)
  -moz-transform: rotate(-2deg)
  -webkit-box-shadow: 0 2px 5px $sb_dark_gray
  -moz-box-shadow: 0 2px 5px $sb_dark_gray
  box-shadow: 0 2px 5px $sb_dark_gray
  border: 5px solid white
  float: right
  position: relative
  right: -200px
  top: 50px
  z-index: 2
img.me_ski
  -webkit-transform: rotate(-4deg)
  -moz-transform: rotate(-4deg)
  -webkit-box-shadow: 0 2px 5px $sb_dark_gray
  -moz-box-shadow: 0 2px 5px $sb_dark_gray
  box-shadow: 0 2px 5px $sb_dark_gray
  border: 5px solid white
  float: right
  position: relative
  right: -360px
  top: -160px
  z-index: 1

.headline
  h1
    margin-bottom: .5em
    width: 650px
#social
  @include graygrad
  padding: .5em 1em
  margin: 3em 0
  width: 400px
  .network
    color: $sb_green
    display: inline-block
    font-size: 90%
    margin-left: .5em
  .social_link
    @include round(18px)
    -webkit-transition: background-color 250ms
    -moz-transition: background-color 250ms
    -o-transition: background-color 250ms
    -ms-transition: background-color 250ms
    transition: background-color 250ms
    background-color: gray
    background-repeat: no-repeat
    background-position: 50% 50%
    display: inline-block
    height: 36px
    margin-right: 15px
    position: relative
    width: 36px
    &:hover
      background-color: $sb_green
      text-decoration: none
  #twitter
    background-image: url('/images/logo-twitter.png')
  #facebook
    background-image: url('/images/logo-facebook.png')
  #linkedin
    background-image: url('/images/logo-linkedin.png')
  #github
    background-image: url('/images/logo-github.png')


///////////////////////////////////////////////////////////
// PORTFOLIO SECTION //////////////////////////////////////
///////////////////////////////////////////////////////////
#portfolio
  figure
    .name
      color: gray
      line-height: 1.2
      padding: 3px 5px
    .desc
      display: block
      font-size: 90%
      line-height: 1.2
      padding: 3px 5px
  .banner
    -webkit-transition: border 250ms
    -moz-transition: border 250ms
    -o-transition: border 250ms
    -ms-transition: border 250ms
    transition: border 250ms
    background-color: $sb_dark_gray
    border: 5px solid $sb_dark_gray
    display: inline-block
    height: 200px
    width: 940px
    margin-bottom: 10px
    &:hover
      border-color: $sb_green
    a
      img
        height: 140px
        width: 940px
  .thumb
    -webkit-transition: border 250ms
    -moz-transition: border 250ms
    -o-transition: border 250ms
    -ms-transition: border 250ms
    transition: border 250ms
    background-color: $sb_dark_gray
    border: 5px solid $sb_dark_gray
    display: inline-block
    height: 320px
    margin-bottom: 10px
    margin-right: 5px
    vertical-align: top
    width: 300px
    &:hover
      border-color: $sb_green
    a
      img
        height: 200px
        width: 300px
      
  .project
    padding: 70px 20px 20px 20px
    h1
      background-color: #444
      color: white
      font-size: 125%
      font-weight: normal
      padding: 10px
      position: absolute
      top: 0
      left: 0
      right: 0
      text-align: center
    figure
      background-color: $sb_dark_gray
      display: inline-block
      margin-bottom: 1em
      padding: 0 0 10px 0
      position: relative
      vertical-align: top
      text-align: center
      width: 100%
      figcaption
        display: block
        line-height: 1.4
        padding: 10px
        text-align: left
      
///////////////////////////////////////////////////////////
// WRITING SECTION ////////////////////////////////////////
///////////////////////////////////////////////////////////
#writing
  .L2
    display: inline-block
    float: left
    margin-right: 15px
    width: 460px
  #tweets
    width: 460px
    li
      @include graygrad
      margin: .5em 0
      padding: .5em
    img
      float: left
      padding: 0 10px 0 0
    .date
      color: gray
      font-size: 90%
    .tweets
      @include round
      background: black
      padding: 5px
      
///////////////////////////////////////////////////////////
// ABOUT ME SECTION ///////////////////////////////////////
///////////////////////////////////////////////////////////
#about
  padding-bottom: 80px
  h2
    margin-bottom: .5em    
  p
    margin: 1.5em 0
  .L2
    display: inline-block
    float: left
    margin-right: 15px
    width: 460px
  #current_chart, #past_chart
    display: block
    height: 230px
    width: 450px
  .current
    background-color: $sb_green
  .past
    background-color: steelblue
  .bar
    color: white
    height: 25px
    margin-bottom: 4px
    padding: 0 3px
    position: relative
    &:after
      -moz-box-shadow: 0 2px 2px $sb_dark_gray
      -webkit-box-shadow: 0 2px 2px $sb_dark_gray
      box-shadow: 0 2px 2px $sb_dark_gray
      @include round(5px)
      background-color: gray
      color: white
      display: block
      position: absolute
      top: 0
      left: 100px
      content: attr(title)
      opacity: 0
      padding: 5px
      width: 200px
      z-index: 1
    &:hover
      cursor: pointer
      &:after
        opacity: 1
    
///////////////////////////////////////////////////////////
// FOOTER /////////////////////////////////////////////////
///////////////////////////////////////////////////////////
footer
  background: black
  padding: 20px
  .L2
    display: inline-block
    vertical-align: top
    width: 48%
    dt
      color: gray


///////////////////////////////////////////////////////////
// JQUERY OVERLAYS ////////////////////////////////////////
///////////////////////////////////////////////////////////

.overlay-container
  display: none
  height: 100%
  position: fixed
  width: 100%
.ui-widget-overlay
  height: 100%
  position: fixed !important
  width: 100%
  z-index: 2
.ui-widget-shadow
  bottom: 40px
  left: 50%
  margin: 0 0 0 -510px !important
  padding: 0 !important
  position: fixed !important
  top: 40px
  width: 1021px
  z-index: 2
.ui-widget-content
  background: #111111
  bottom: 50px
  left: 50%
  margin-left: -500px
  overflow-x: hidden
  overflow-y: scroll
  padding: 0
  position: fixed !important
  top: 50px
  width: 1000px
  z-index: 3






