@import common

h1
  font-family: 'museo-slab-1','museo-slab-2', sans-serif
  font-size: 225%
  font-weight: bold
  line-height: 1.25
h2
  color: gray
  font-family: 'museo-slab-1','museo-slab-2', sans-serif
  font-size: 150%
  font-weight: light
  margin-bottom: .25em
a
  color: $sb_green
  text-decoration: none
  &:hover
    cursor: pointer
    text-decoration:  underline


///////////////////////////////////////////////////////////
// SLIDESHOW CONTAINERS ///////////////////////////////////
///////////////////////////////////////////////////////////

.slideshow-container
  height: 567px
  margin-bottom: 40px
  &#boundary-ss1
    #slider
      height: 567px
  #slider
    background: #000
    border: 3px solid $sb_dark_gray
    width: 798px
    overflow: visible
    position: relative
    ul
      margin: 0
      padding: 0
      position: relative
    li
      width: 798px
      height: 100%
      position: absolute
      top: -100%
      list-style: none
      &.firstanimation
        animation: cycle 25s linear infinite
      &.secondanimation
        animation: cycletwo 25s linear infinite
      &.thirdanimation
        animation: cyclethree 25s linear infinite
      &.fourthanimation
        animation: cyclefour 25s linear infinite
      &.fifthanimation
        animation: cyclefive 25s linear infinite
      &.sixthanimation
        animation: cyclesix 25s linear infinite
      &:hover
        .tooltip
          left: 0
      .tooltip
        background: rgba(0,0,0,0.7)
        width: 300px
        height: 60px
        position: relative
        bottom: 95px
        left: -320px
        transition: left 0.3s ease-in-out
        h1
          color: #fff
          font-size: 24px
          font-weight: 300
          line-height: 60px
          padding: 0 0 0 10px
  #mask
    overflow: hidden
    height: 100%
  .progress-bar
    position: relative
    top: -5px
    width: 680px
    height: 5px
    background: $sb_green
    animation: fullexpand 25s ease-out infinite


/* ANIMATION */

@keyframes cycle
  0%
    top: 0px
  4%
    top: 0px
  16%
    top: 0px
    opacity: 1
    z-index: 0
  20%
    top: 325px
    opacity: 0
    z-index: 0
  21%
    top: -325px
    opacity: 0
    z-index: -1
  92%
    top: -325px
    opacity: 0
    z-index: 0
  96%
    top: -325px
    opacity: 0
  100%
    top: 0px
    opacity: 1

@keyframes cycletwo
  0%
    top: -325px
    opacity: 0
  16%
    top: 0px
    opacity: 1
    z-index: 0
  20%
    top: 325px
    opacity: 0
    z-index: 0
  21%
    top: -325px
    opacity: 0
    z-index: -1
  92%
    top: -325px
    opacity: 0
    z-index: 0
  96%
    top: -325px
    opacity: 0
  100%
    top: 0px
    opacity: 1

@keyframes fullexpand
  0%, 20%, 40%, 60%, 80%, 100%
    width: 0%
    opacity: 0
  4%, 24%, 44%, 64%, 84%
    width: 0%
    opacity: 0.3
  16%, 36%, 56%, 76%, 96%
    width: 100%
    opacity: 0.7
  17%, 37%, 57%, 77%, 97%
    width: 100%
    opacity: 0.3
  18%, 38%, 58%, 78%, 98%
    width: 100%
    opacity: 0

    
///////////////////////////////////////////////////////////
// FOOTER /////////////////////////////////////////////////
///////////////////////////////////////////////////////////
footer
  background: #111
  width: 100%
  .L2
    display: inline-block
    vertical-align: top
    width: 48%
    h3
      color: #BBB
    dt
      color: #BBB
    dd, p
      margin-bottom: .75em




