%section{:class=>"project"}
  %h1 The Beekman Tower
  %figure{:id=>"1"}
    %img{:src=>"/images/beekman/01.jpeg", :alt=>"Project During Construction"}
    %figcaption The Beekman Tower is a residential high-rise designed by Gehry Partners in lower Manhattan. The design features a complex steel and glass facade which I played a primary role in designing and optimizing for construction.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/beekman/02.jpeg", :alt=>"Parametric Model of Facade"}
    %figcaption The double-skin facade required many study models and optimization exercises to bring down manufacturing costs. I developed these models and helped bring manufacturing costs down by about 30%.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/beekman/03.jpeg", :alt=>"Scripting Interface"}
    %figcaption I developed a series of scripts to automatically generate plan drawings from the 3D model.