<h2>Boundary</h2>
<p>Boundary is a product for modern IT Operations management, helping customers increase performance in cloud-based architectures. In March 2011 I joined Boundary as the 4th employee and first designer. I designed the first version of our product, and since that time have led the design of the product to over 100 active customers and a team of over 40 people, including 3 designers (as of May 2013). I also created the award-winning Boundary logo.</p>

<a class="project-link" target="_blank" href="http://www.boundary.com"><h4>Visit the Boundary Website</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image boundary" id="first">
  <figcaption>Boundary's AppVis view lets customers visualize application topology in real-time, highlighting changes in latency between application tiers.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image boundary" id="second">
  <figcaption>The Streams view shows customers 1-second traffic updates and overlays annotations to correlate changes in application behavior with system events. As of May 2013 Boundary's streaming engine is processing over a Terabyte of data per day.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image boundary" id="third">
  <figcaption>The Boundary Dashboard highlights changes to important customer metrics and serves as the gateway to the Boundary product. Notifications and event data in the Dashboard allow customers quick access to important information across their infrastructure.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image boundary" id="fourth">
  <figcaption>In January 2013, after a bunch of requests from customers and staff, I wrote a <a target="_blank" href="http://boundary.com/blog/2013/01/18/the-story-of-the-boundary-logo-network-performance/">blog post</a> about the design and development of the Boundary logo. To my surprise, the logo has taken on a life of its own. It's been <a target="_blank" href="http://justcreative.com/2013/01/11/top-best-logos-of-2012/">given awards</a>, talked about <a target="_blank" href="http://www.reddit.com/r/Design/comments/x7e75/i_think_this_logo_is_eyecatching/">on Reddit</a>, and included in <a target="_blank" href="http://www.awwwards.com/99-creative-logo-designs-for-inspiration.html">lots of collections</a>. I couldn't be more proud of the recognition and attention the work has received.</figcaption>
</figure>