%h2 Real-time Dashboard
%p this is a test.

.slideshow-container#boundary-ss1
  #slider
    #mask
      %ul
        %li{:id=>"first", :class=>"firstanimation"}
          %a{:href=>"#"}
            %img{:src=>"/images/boundary/ss1-01.png", :alt=>"1-Second Data"}
          .tooltip
            %h1 1-Second Data
        %li{:id=>"second", :class=>"secondanimation"}
          %a{:href=>"#"}
            %img{:src=>"/images/boundary/ss1-02.png", :alt=>"Chart Filtering"}
          .tooltip
            %h1 Chart Filtering
        %li{:id=>"third", :class=>"thirdanimation"}
          %a{:href=>"#"}
            %img{:src=>"/images/boundary/ss1-03.png", :alt=>"Multi-dimensional breakdowns"}
          .tooltip
            %h1 Multi-dimensional breakdowns
        %li{:id=>"fourth", :class=>"fourthanimation"}
          %a{:href=>"#"}
            %img{:src=>"/images/boundary/ss1-04.png", :alt=>"Directional Displays"}
          .tooltip
            %h1 Directional Displays
        %li{:id=>"fifth", :class=>"fifthanimation"}
          %a{:href=>"#"}
            %img{:src=>"/images/boundary/ss1-05.png", :alt=>"Filter by Group, etc..."}
          .tooltip
            %h1 Filter by Group, etc...
        %li{:id=>"sixth", :class=>"sixthanimation"}
          %a{:href=>"#"}
            %img{:src=>"/images/boundary/ss1-06.png", :alt=>"Historical Data"}
          .tooltip
            %h1 Historical Data
    .progress-bar