%section{:class=>"project"}
  %h1 Computerized Double-Vision Test
  %figure{:id=>"1"}
    %img{:src=>"/images/doublevision/01.png", :alt=>"Home Screen"}
    %figcaption Designed in 2003, the Computerized Diplopia Test was a partnership with a local ophthalmologist to replace the rudimentary paper version of the test with a more automated digital version. Designed in Flash/Actionscript, the test proved to be as accurate as the paper version, faster and more portable. The software was awarded a provisional patent.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/doublevision/02.png", :alt=>"Test Interface"}
    %figcaption To avoid inaccuracies in the test caused by mouse clicking and to facilitate monitoring by a nurse, the patient was asked to simply move the mouse into place, after which the nurse would press the spacebar to confirm the mouse position.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/doublevision/03.png", :alt=>"Results Interface"}
    %figcaption Results are presented to the nurse in an easy-to-read and printable format for patient records.