%section{:class=>"project"}
  %h1 Dragonfly
  %figure{:id=>"1"}
    %img{:src=>"/images/dragonfly/01.jpeg", :alt=>"Final Design"}
    %figcaption Dragonfly was a temporary installation at the Southern California Institute of architecture inspired by the wing of a dragonfly. Designed to "fly" over the room, Dragonfly was made of over 2,000lb of aluminum and connected at only 3 points in the room. The greatest design challenge, though, was using a team of students with limited access to manufacturing equipment to fabricate and assemble the piece. This required a long exercise in process design and careful thinking about how our team would work together.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/dragonfly/02.jpeg", :alt=>"Parametric Models"}
    %figcaption I was responsible for creating the parametric models used for both optimization studies and for manufacturing.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/dragonfly/03.jpeg", :alt=>"Vaulted Arch Optimization"}
    %figcaption Our optimization studies looked at the Dragonfly form as a vaulted arch, with a goal of minimizing weight.
    
  %figure{:id=>"4"}
    %img{:src=>"/images/dragonfly/04.jpeg", :alt=>"Final Panel Designs"}
    %figcaption Each piece, when laid out for cutting, had its number and bend angles inscribed directly into the aluminum panel. This limited the need for drawings and allowed separate teams of students to work together building and assembling different sections of the piece.
    
  %figure{:id=>"5"}
    %img{:src=>"/images/dragonfly/05.jpeg", :alt=>"Cut Panels"}
    %figcaption Aluminum pieces coming off the router, ready for bending and assembly. As one team finished manufacturing the aluminum pieces, other teams could organize and assemble them using only the information inscribed directly on the panels - no other instructions or drawings were needed.
    
  %figure{:id=>"6"}
    %img{:src=>"/images/dragonfly/06.jpeg", :alt=>"Students Assembling"}
    %figcaption The team of students building the installation used only a plate bender and power tools as manufacturing equipment.
    
  %figure{:id=>"7"}
    %img{:src=>"/images/dragonfly/07.jpeg", :alt=>"Automatic Translation Workflow"}
    %figcaption Final design.