<h2>Dragonfly</h2>
<p>Dragonfly was a temporary installation at the Southern California Institute of Architecture inspired by the wing of a dragonfly. Designed to "fly" over the room, Dragonfly was made of over 2,000lb of aluminum and structurally supported at only 3 points. The project was nominated for an <a target="_blank" href="http://www.istructe.org/awards">IStructE award</a> and I was invited to speak about the project at the <a target="_blank" href="http://www.ladesigntech.org">Los Angeles Design & Technology Forum</a>.</p>

<a class="project-link" target="_blank" href="http://tomwiscombe.com/project_28.html"><h4>View Dragonfly on architect Tom Wiscombe's homepage</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image dragonfly" id="first">
  <figcaption>I created the parametric models used for structural optimization studies and for manufacturing.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image dragonfly" id="second">
  <figcaption>Our optimization studies looked at the Dragonfly form as a vaulted arch, with the goal of minimizing weight and material costs.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image dragonfly" id="third">
  <figcaption>Each panel had its ID number and bend angles etched directly into the alumninum. This eliminated the need for construction drawings and allowed separate teams of students to work together building and assembling different sections of the piece.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image dragonfly" id="fourth">
  <figcaption>Aluminum pieces came off the router ready for bending and assembly. As one team finished manufacturing, other teams could organize and assemble them using only the information etched on the panels.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image dragonfly" id="fifth">
  <figcaption>The team of students building the installation used only a plate bender and power tools as manufacturing equipment.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image dragonfly" id="sixth">
  <figcaption>The design was nominated for an IStructE award in London, and I was invited to speak at the Los Angles Design & Technology Forum about the project.</figcaption>
</figure>