%header{:id=>"top"}
  %h1 Diabetic Foot Research
%section{:class=>"L1 project"}
  %figure{:id=>"1"}
    %img{:src=>"/images/foot/01.gif", :alt=>"System Design Rendering"}
    %figcaption After graduation from the University of Michigan I was invited to be a founding member of a start-up company called Ann Arbor Innovations, and to continue doing the research I began during my senior thesis. I worked with a researcher in the orthotics and prosthetics department who designed a shoe insole that showed significant reduction in ulceration in diabetic patients. I developed an in-shoe shear measurement system to prove that his design worked. I built prototypes and tested the insoles on patients (and willing friends), collected data and helped to submit the final design for patenting.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/foot/02.jpeg", :alt=>"Sensor Connected to Scope"}
    %figcaption The experimental setup, connected to an oscilloscope to visualize shear forces.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/foot/03.jpeg", :alt=>"Fabrication"}
    %figcaption The prototype manufacturing process.

  %figure{:id=>"4"}
    %img{:src=>"/images/foot/04.jpeg", :alt=>"Cutting"}
    %figcaption Rough prototypes using rubber and an x-acto knife.

  %figure{:id=>"5"}
    %img{:src=>"/images/foot/05.png", :alt=>"A2I Website"}
    %figcaption In addition to my research I designed both the company website and logo.