<h2>Helios House</h2>
<p>The Helios House is a sustainable gas station in Los Angeles, California. The station features solar panels, a 100%-recycled steel canopy with rainwater collection, a green roof, and LED lighting. I was responsible for the structural design and coordinated with the facade manufacturers to create a full-scale prototype.</p>

<a class="project-link" target="_blank" href="http://en.wikipedia.org/wiki/Helios_House"><h4>Visit the Project Wikipedia Page</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image helios" id="first">
  <figcaption>The Helios House was the first gas station in the United States to be submitted for LEED certification.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image helios" id="second">
  <figcaption>I was responsible for developing all of the 3D models on the project, and led the coordination and prototyping efforts with the architects and manufacturers.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image helios" id="third">
  <figcaption>The complex design of the canopy required a full-scale prototype to be built in order for the city to approve construction. I worked closely with the facade manufacturers on the design and prototype, and our work on the canopy was used to create a new construction code in Los Angeles.</figcaption>
</figure>