%section{:class=>"project"}
  %h1 Helios House
  %figure{:id=>"1"}
    %img{:src=>"/images/helios/01.jpeg", :alt=>"Final Design"}
    %figcaption The Helios House is a sustainable gas station in Los Angeles, California. The station features solar panels, a 100%-recycled steel canopy that collects rainwater, a green roof, and LED lighting.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/helios/02.png", :alt=>"3D model"}
    %figcaption I was responsible for developing all of the 3D models on the project, and led the coordination and prototyping efforts with the architects and manufacturers.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/helios/03.jpeg", :alt=>"Full Size Prototype"}
    %figcaption The complex design of the canopy required a full-scale prototype to be built. I worked closely with the facade manufacturers on the design and prototype, and our work on the canopy was used to create a new construction code in Los Angeles.