<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%="Stephen Boak - #{@title}"%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/home.css">
    <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/val5dqm.js"></script>
    <script type="text/javascript">
    try{Typekit.load();}catch(e){};

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15115849-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    <link href='/favicon.ico' rel='shortcut icon' />
    <link href='/images/apple-touch-icon-ipad.png' rel='apple-touch-icon' sizes='72x72' />
    <link href='/images/apple-touch-icon-iphone.png' rel='apple-touch-icon' />
    <link href='/images/apple-touch-icon-iphone4.png' rel='apple-touch-icon' sizes='114x114' />
    <script src='/js/modernizr-DEV.js'></script>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
  </head>
  <body>
    <a id="site-logo" href="/"></a>
    <div class="container-fluid">
      <div class="row-fluid"><div class="span12">
        <nav>
          <ul id="main-nav-list"><!--
         --><li><a class="scroller" href="#">Home</a></li><!--
         --><li><a class="scroller" href="#portfolio">Portfolio</a></li><!--
         --><li><a class="scroller" href="#writing">Writing</a></li><!--
         --><li><a class="blog" href="http://blog.stephenboak.com" title="Blog">Blog</a></li><!--
       --></ul>
          <a class="toggle" id="main-nav-toggle"><i class="icon-menu"></i> Menu</a>
        </nav>
      </div></div>
    </div>

    <%= yield %>

    <footer>
      <div class="container-fluid">
        <section class="L2" id="contact"><div class="content-padded">
          <h3>Contact Me</h3>
          <dl>
            <dt>Email at work:</dt>
            <dd>steve [at]boundary [dot]com</dd>
            <dt>All other email:</dt>
            <dd>stephen[dot]boak [at]gmail [dot]com</dd>
          </dl>
        </div></section>
        <section class="L2"><div class="content-padded">
          <h3>Source Code</h3>
          <p>You can download all of the source code for <a href="https://github.com/sboak/stephenboak">this site</a>, as well as <a href="https://github.com/sboak/sboak.github.com">my blog</a>, on Github.</p>
        </div></section>
      </div>
    </footer>
  </body>
</html>
