!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %title="Stephen Boak"
  %meta{:content => "Personal website of Stephen Boak", :name => "description"}/
  %meta{:content => "Stephen Boak", :name => "author"}/
  / Mobile viewport optimized: j.mp/bplateviewport
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  / All JavaScript at the bottom, except for Modernizr which enables HTML5 elements &amp; feature detects
  / %script{:src => "/js/modernizr-1.5.min.js"}
%body
  %h1 Welcome  
  %p  
    Welcome to my website made with Sinatra and HAML
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"}
  :javascript
    !window.jQuery && document.write('<script src="javascripts/jquery-1.4.2.min.js"><\/script>')
  /[if lt IE 7 ]
    <script src="js/dd_belatedpng.js?"></script>
    <script>
    \  //fix those png IMGs and .png_bg background-images
    \  DD_belatedPNG.fix('img, .png_bg');
    </script>
  / yui profiler and profileviewer - remove for production
  / %script{:src => "js/profiling/yahoo-profiling.min.js?"}
  / %script{:src => "js/profiling/config.js?v=1"}
  / end profiling code
