<hgroup id="home-intro">
  <h1>Hi, I'm Steve Boak</h1>
  <h2>Product Designer in San Francisco, CA</h2>

  <!--<div id="social">
    <h3 id="social_networks">Find Me On: </h3>
    <a href="http://www.twitter.com/sboak" title="Twitter" target="blank" class="social_link"><i class="icon-twitter"></i></a><a href="http://www.facebook.com/stephen.boak" title="Facebook" target="blank" class="social_link"><i class="icon-facebook-squared"></i></a><a href="http://www.linkedin.com/in/stephenboak" title="LinkedIn" target="blank" class="social_link"><i class="icon-linkedin-squared"></i></a><a href="https://github.com/sboak" title="GitHub" target="blank" class="social_link"><i class="icon-github-circled"></i></a><a href="http://dribbble.com/sboak" title="Dribbble" target="blank" class="social_link"><i class="icon-dribbble"></i></a>
  </div>-->
</hgroup>

<div class="gallery autoplay items-5">
  <div id="item-1" class="control-operator"></div>
  <div id="item-2" class="control-operator"></div>
  <div id="item-3" class="control-operator"></div>
  <div id="item-4" class="control-operator"></div>
  <div id="item-5" class="control-operator"></div>

  <figure class="item" id="gallery-item-01"></figure>
  <figure class="item" id="gallery-item-02"></figure>
  <figure class="item" id="gallery-item-03"></figure>
  <figure class="item" id="gallery-item-04"></figure>
  <figure class="item" id="gallery-item-05"></figure>
</div>

<section id="about">
<div class="container-fluid">
  <div class="row-fluid"><div class="span12">
  test
  </div></div>
</div>
</section>

</section>

<section class="L1" id="portfolio">
<div class="container-fluid">
  <div class="row-fluid L2"><div class="span12">
    <h2 class="seperator">Portfolio</h2>
    <h3 class="seperator2">Recent Projects</h3>
    <ul>
      <li id="boundary"><a href="#"><span class="title">Boundary <em>Product Design Lead</em></span></a></li>
      <li id="tankh2o"><a href="#"><span class="title">TankH2O <em>Web & Product Design Lead</em></span></a></li>
      <li id="wedding"><a href="#"><span class="title">Wedding Invitations <em>Graphic Design</em></span></a></li>
      <li id="quid"><a href="#"><span class="title">Quid <em>Product Management & Design</em></span></a></li>
    </ul>
  </div></div>

  <div class="row-fluid L2"><div class="span12">
    <h3 class="seperator2">Past Projects</h3>
    <ul>
      <li id="dragonfly"><a href="#"><span class="title">Dragonfly <em>Design & Manufacturing</em></span></a></li>
      <li id="beekman"><a href="#"><span class="title">New York by Gehry <em>Façade Design</em></span></a></li>
    </ul>
  </div></div>
</div>
</section>

<section class="L1" id="writing">
<div class="container-fluid">
  <div class="row-fluid"><div class="span12">
    <h2 class="seperator">Writing</h2>
    <div class="L2" id="recent_posts">
      <h3 class="seperator2">Recent Blog Posts <a class="writing-link" target="_blank" href="http://blog.stephenboak.com/">All Posts</a></h3>
      <div id="posts"></div>
    </div>
    <div class="L2" id="recent_tweets">
      <h3 class="seperator2">Recent Tweets <a class="writing-link" target="_blank" href="http://www.twitter.com/sboak">@sboak on Twitter</a></h3>
      <div id="tweets"></div>
    </div>
  </div></div>
  <div class="row-fluid"><div class="span12">
    <div id="recent_photos">
      <h3 class="seperator2">Recent Photos <a class="writing-link" target="_blank" href="http://www.instagram.com/sboak">sboak on Instagram</a></h3>
      <div id="instagram"></div>
    </div>
  </div></div>
</div>
</section>







