%header{:id=>"top"}
  %h1 Home-made iPod Case
%section{:class=>"L1 project"}
  %figure{:id=>"1"}
    %img{:src=>"/images/ipod/01.jpeg", :alt=>"Isometric View"}
    %figcaption As a student I made this iPod case out of acrylic on a 2.5-axis CNC mill. Since I was using a 2.5-axis mill, making the piece required flipping the plastic over manually to cut both sides. Designing a mount that would allow me to do this without damaging the piece took 6 tries to get right.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/ipod/02.jpeg", :alt=>"Top View"}
    %figcaption The plastic was intentionally given a rough texture to improve grip.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/ipod/03.jpeg", :alt=>"Isometric View 2"}
    %figcaption 4 screws were required to hold the case together so it wasn't the most convenient iPod case, but it made a great conversation piece.