<h2>Opsmatic</h2>
<p>Opsmatic enables technical teams to move faster by providing configuration monitoring across the entire infrastructure. We offer tools for automated drift detection, search, and a historical timeline to stay on top of changes.</p>
<p>As Opsmatic's first designer, I've been responsible for all product design, both interactive and visual, as well as the design of the brand and logo.</p>

<a class="project-link" target="_blank" href="https://www.opsmatic.com"><h4>Visit the Opsmatic Website</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image opsmatic" id="first" alt="The Opsmatic Timeline view">
  <figcaption>The Opsmatic Timeline correlates activity by type to help identify patterns and detect root causes of infrastructure issues.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image opsmatic" id="second" alt="Inventory search">
  <figcaption>The Inventory view lets users search the live state of their hosts, helping to discover anomalies and vulneratibilities in system configuration.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image opsmatic" id="third" alt="Inventory comparisons">
  <figcaption>Users can also compare the states of their hosts over time and go back in  time using the Inventory view.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image opsmatic" id="fourth" alt="The Feed view">
  <figcaption>The feed view offers simple tools to filter activity by type and detailed event views to spot problems.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image opsmatic" id="fifth" alt="Opsmatic logo">
  <figcaption>I designed the Opsmatic logo and brand as expressions of the strength and talent of operations professionals, who watch for patterns and are always on-call to save the day.</figcaption>
</figure>