<h2>Quid</h2>
<p>Quid's mission is to develop analysis and visualization tools that make fast-moving global technology developments visible, navigable, and understandable. As PM at Quid, I led engineering scrums and worked with the management team to define and deliver on product goals. I also designed and contributed to the development of the product front-end.</p>

<a class="project-link" target="_blank" href="http://www.quid.com"><h4>Visit the Quid Website</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image quid" id="first">
  <figcaption>Just after coming out of stealth mode, I redesigned of the quid.com homepage to give visitors a window into the company vision and mission.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image quid" id="second">
  <figcaption>I designted the Quid Pro n-gram search interface that allows users to find companies matching combinations of relevant keywords.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image quid" id="third">
  <figcaption>Once a query has been built, the aggregate performance of a set of companies can be visualized over time.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image quid" id="fourth">
  <figcaption>A company ecosystem view shows a list of related companies ranked by similarity.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image quid" id="fifth">
  <figcaption>Visualizing an organization's "technology genome" is one of the challenges facing Quid.</figcaption>
</figure>