%section{:class=>"project"}
  %h1 Quid
  %figure{:id=>"1"}
    %img{:src=>"/images/quid/01.jpeg", :alt=>"Quid Homepage Redesign"}
    %figcaption I redesigned of the quid.com homepage to give visitors a window into the company vision and mission
      
  %figure{:id=>"2"}
    %img{:src=>"/images/quid/02.jpeg", :alt=>"N-Gram Search Interface"}
    %figcaption An n-gram search interface allows users to find companies matching combinations of relevant keywords
    
  %figure{:id=>"3"}
    %img{:src=>"/images/quid/03.jpeg", :alt=>"Timeline View"}
    %figcaption Once a query has been built, the aggregate performance of a set of companies can be visualized over time.
    
  %figure{:id=>"4"}
    %img{:src=>"/images/quid/04.jpeg", :alt=>"Ecosystem View"}
    %figcaption A company ecosystem view shows a list of related companies ranked by similarity.
    
  %figure{:id=>"5"}
    %img{:src=>"/images/quid/05.jpeg", :alt=>"Technology Genome"}
    %figcaption Visualizing an organization's technology genome is one of the challenges facing Quid.