%section{:class=>"project"}
  %h1 World Bank Rapid Assessment Framework
  %figure{:id=>"1"}
    %img{:src=>"/images/raf/01.png", :alt=>"Main Menu"}
    %figcaption The Rapid Assessment Framework for Energy Efficient Cities is both a web application and a process designed to help city officials assess and improve their city's energy efficiency. The process begins with a team of consultants helping city authorities benchmark performance and identify areas for improvement. Software is then used to highlight specific recommendations to improve city-wide energy efficiency. The processes and software have been designed from the ground up to make the experience smooth and efficient, and to produce actionable outcomes for city officials.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/raf/02.png", :alt=>"Data Entry Interface"}
    %figcaption I designed the interface helps users through the data entry process and keeps track of progress through the tool, monitoring completion and providing visual feedback.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/raf/03.jpeg", :alt=>"Wireframes"}
    %figcaption My early wireframe sketches lay out the basic functions and design of the application.
    
  %figure{:id=>"4"}
    %img{:src=>"/images/raf/04.jpeg", :alt=>"Workflow Analysis"}
    %figcaption A task analysis illustrates the application workflow.
    
  %figure{:id=>"5"}
    %img{:src=>"/images/raf/05.png", :alt=>"Process Sankey Diagram"}
    %figcaption The team spent several months interviewing city officials in developing countries to collect user stories. We created a process that could be implemented in cities around the world.