<h2>Riyadh Region Project Dashboard</h2>
<p>The Riyadh Region Project Dashboard is a web application for visualizing, tracking, and sharing project information across the Riyadh Region. With over 2,000 active construction projects and 40 agencies responsible for overseeing them, the region needed a platform to manage projects, track budgets, and empower decision-makers. I was the architect of the proposal that won the project, designed the project user interface, and coordinated with our outsourced development company to create the software.</p>

<a class="project-link" target="_blank" href="http://www.happoldconsulting.com/projects/project/arriyadh-region-project-information-system-162/"><h4>Visit the Project Overview Site</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image riyadh" id="first">
  <figcaption>The dashboard allows users to share and edit project data, upload images and 3D models, and automatically generate performance reports for the region as a whole or for individual agencies and sectors. The entire site supports both English and Arabic (a right-to-left language).</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image riyadh" id="second">
  <figcaption>A detailed view of each project allows users to visualize and quickly edit project data. Automated warnings let users know when project data needs updating or when projects are under-performing.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image riyadh" id="third">
  <figcaption>Adding new projects is quick and easy, and since street addresses are not available in Riyadh users can locate their projects by simply dragging a pin on the map.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image riyadh" id="fourth">
  <figcaption>An innovative translation interface allows users to enter data in their preferred language and then presents them with an automatic machine translation. The user can make changes and approve a final translation, or send the item to a translator.</figcaption>
</figure>