%section{:class=>"project"}
  %h1 Riyadh Region Project Dashboard
  %figure{:id=>"1"}
    %img{:src=>"/images/riyadh/01.jpeg", :alt=>"Project Browser View"}
    %figcaption The Riyadh Region Project Dashboard is a web application for visualizing, tracking, and sharing project information across the Riyadh Region. With over 2,000 active construction projects and 40 agencies responsible for overseeing them, the region needed a platform to manage projects, track budgets, and empower decision-makers. The dashboard allows users to share and edit project data, upload images and 3D models, and automatically generate performance reports for the region as a whole or for individual agencies and sectors. The entire site supports both English and Arabic and combines rich 2D and 3D visualizations.
      
  %figure{:id=>"2"}
    %img{:src=>"/images/riyadh/02.jpeg", :alt=>"Project Detail View"}
    %figcaption A detailed view of each project allows users to visualize and quickly edit project data. Automated warnings let users know when project data needs updating or when projects are under-performing.
    
  %figure{:id=>"3"}
    %img{:src=>"/images/riyadh/03.jpeg", :alt=>"New Project Creation View"}
    %figcaption Adding new projects is quick and easy, and since street addresses are not available in Riyadh users can locate their projects by simply dragging a pin on the map.
    
  %figure{:id=>"4"}
    %img{:src=>"/images/riyadh/04.jpeg", :alt=>"Automatic Translation Workflow"}
    %figcaption An innovative translation interface allows users to enter data in their preferred language and then presents them with an automatic machine translation. The user can make changes and approve a final translation, or send the item to a translator.