<h2>TankH2O</h2>
<p>In 2012 I created TankH2Os with my fiancée Brooke Bishop. TankH2Os are stainless steel water bottles for scuba divers and ocean adventurers. As of July 2013 TankH2Os are available in over 50 stores including the largest chain of scuba shops in the USA and the gift shop at the Georgia Aquarium. We reached profitability in our first year of business.</p>

<a class="project-link" target="_blank" href="https://www.tankh2o.com"><h4>Visit the TankH2O Website</h4></a>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image tankh2o" id="first">
  <figcaption>I led all aspects of the product design, worked on fabrication with our factory in China, and worked with Kuehne + Nagel on supply-chain logistics. I also developed all of our marketing materials <em>(marketing photo I took at Baker Beach in San Francisco).</em></figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image tankh2o" id="second">
  <figcaption>I created the 3D model for fabrication and worked with Shapeways.com to create a 3D-printed prototype of the bottle top. Shapeways even <a target="_blank" href="http://www.shapeways.com/blog/archives/2113-3d-printing-in-action-tankh20.html">featured the product on their blog</a>.</figcaption>
</figure>

<figure>
  <img src="/images/project-transparent-placeholder.gif" class="project-image tankh2o" id="third">
  <figcaption>I designed and developed the product website and online ordering system. It's also been a great opportunity to create and learn about online ad campaigns to drive traffic to the site via AdWords, Twitter, and Facebook.</figcaption>
</figure>