.clear {
  clear: both;
  float: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  background-image: url("/images/bg_black_paper.png");
  color: #e5e5e5;
  font-family: "museo-sans-1", "museo-sans-2", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-shadow: 0 1px 0 black; }

.container {
  margin: 0 auto;
  width: 960px; }

.L1 {
  margin: 3em 0; }

.L2 {
  margin: 1.5em 0; }

h1 {
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-size: 225%;
  font-weight: bold;
  line-height: 1.25; }

h2 {
  color: gray;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-size: 150%;
  font-weight: light;
  margin-bottom: 0.25em; }

a {
  color: #0fb913;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }

nav {
  background-image: url("/images/logo.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  min-width: 42px;
  margin: 30px auto;
  width: 960px; }
  nav ul {
    float: right;
    font-family: "museo-slab-1", "museo-slab-2", sans-serif;
    list-style: none; }
    nav ul li {
      display: inline-block;
      float: left;
      font-size: 110%;
      padding: 0 20px;
      text-align: right; }
      nav ul li a {
        color: inherit;
        font-weight: bold; }
        nav ul li a:hover {
          color: #0fb913;
          text-decoration: none; }
    nav ul .blog {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      background-color: #0fb913;
      padding: 3px 8px; }
      nav ul .blog:hover {
        color: yellow; }

img.me {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -webkit-box-shadow: 0 1px 3px #262626;
  -moz-box-shadow: 0 1px 3px #262626;
  box-shadow: 0 1px 3px #262626;
  border: 5px solid white;
  float: right;
  position: relative;
  right: -30px;
  top: -130px;
  z-index: 3; }

img.me_b {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -webkit-box-shadow: 0 1px 3px #262626;
  -moz-box-shadow: 0 1px 3px #262626;
  box-shadow: 0 1px 3px #262626;
  border: 5px solid white;
  float: right;
  position: relative;
  right: -200px;
  top: 50px;
  z-index: 2; }

img.me_ski {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -webkit-box-shadow: 0 1px 3px #262626;
  -moz-box-shadow: 0 1px 3px #262626;
  box-shadow: 0 1px 3px #262626;
  border: 5px solid white;
  float: right;
  position: relative;
  right: -360px;
  top: -160px;
  z-index: 1; }

.headline h1 {
  margin-bottom: 0.5em;
  width: 650px; }

#social {
  background: -moz-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, rgba(38, 38, 38, 0)));
  background: -webkit-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  background: -o-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  background: -ms-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$sb_dark_gray', endColorstr='$sb_dark_gray',GradientType=0 );
  background: linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  padding: 0.5em 1em;
  margin: 3em 0;
  width: 400px; }
  #social .network {
    color: #0fb913;
    display: inline-block;
    font-size: 90%;
    margin-left: 0.5em; }
  #social .social_link {
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    height: 36px;
    margin-right: 15px;
    position: relative;
    width: 36px; }
    #social .social_link:hover {
      background-color: #0fb913;
      text-decoration: none; }
  #social #twitter {
    background-image: url("/images/logo-twitter.png"); }
  #social #facebook {
    background-image: url("/images/logo-facebook.png"); }
  #social #linkedin {
    background-image: url("/images/logo-linkedin.png"); }
  #social #github {
    background-image: url("/images/logo-github.png"); }

#portfolio figure .name {
  color: gray;
  line-height: 1.2;
  padding: 3px 5px; }
#portfolio figure .desc {
  display: block;
  font-size: 90%;
  line-height: 1.2;
  padding: 3px 5px; }
#portfolio .banner {
  -webkit-transition: border 250ms;
  -moz-transition: border 250ms;
  -o-transition: border 250ms;
  -ms-transition: border 250ms;
  transition: border 250ms;
  background-color: #262626;
  border: 5px solid #262626;
  display: inline-block;
  height: 200px;
  width: 940px;
  margin-bottom: 10px; }
  #portfolio .banner:hover {
    border-color: #0fb913; }
  #portfolio .banner a img {
    height: 140px;
    width: 940px; }
#portfolio .thumb {
  -webkit-transition: border 250ms;
  -moz-transition: border 250ms;
  -o-transition: border 250ms;
  -ms-transition: border 250ms;
  transition: border 250ms;
  background-color: #262626;
  border: 5px solid #262626;
  display: inline-block;
  height: 320px;
  margin-bottom: 10px;
  margin-right: 5px;
  vertical-align: top;
  width: 300px; }
  #portfolio .thumb:hover {
    border-color: #0fb913; }
  #portfolio .thumb a img {
    height: 200px;
    width: 300px; }
#portfolio .project {
  padding: 70px 20px 20px 20px; }
  #portfolio .project h1 {
    background-color: #444444;
    color: white;
    font-size: 125%;
    font-weight: normal;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center; }
  #portfolio .project figure {
    background-color: #262626;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0 0 10px 0;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 100%; }
    #portfolio .project figure figcaption {
      display: block;
      line-height: 1.4;
      padding: 10px;
      text-align: left; }

#writing .L2 {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 460px; }
#writing #tweets {
  width: 460px; }
  #writing #tweets li {
    background: -moz-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, rgba(38, 38, 38, 0)));
    background: -webkit-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: -o-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: -ms-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$sb_dark_gray', endColorstr='$sb_dark_gray',GradientType=0 );
    background: linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    margin: 0.5em 0;
    padding: 0.5em; }
  #writing #tweets img {
    float: left;
    padding: 0 10px 0 0; }
  #writing #tweets .date {
    color: gray;
    font-size: 90%; }
  #writing #tweets .tweets {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: black;
    padding: 5px; }

#about {
  padding-bottom: 80px; }
  #about h2 {
    margin-bottom: 0.5em; }
  #about p {
    margin: 1.5em 0; }
  #about .L2 {
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 460px; }
  #about #current_chart, #about #past_chart {
    display: block;
    height: 230px;
    width: 450px; }
  #about .current {
    background-color: #0fb913; }
  #about .past {
    background-color: steelblue; }
  #about .bar {
    color: white;
    height: 25px;
    margin-bottom: 4px;
    padding: 0 3px;
    position: relative; }
    #about .bar:after {
      -moz-box-shadow: 0 2px 2px #262626;
      -webkit-box-shadow: 0 2px 2px #262626;
      box-shadow: 0 2px 2px #262626;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background-color: gray;
      color: white;
      display: block;
      position: absolute;
      top: 0;
      left: 100px;
      content: attr(title);
      opacity: 0;
      padding: 5px;
      width: 200px;
      z-index: 1; }
    #about .bar:hover {
      cursor: pointer; }
      #about .bar:hover:after {
        opacity: 1; }

footer {
  background: black;
  padding: 20px; }
  footer .L2 {
    display: inline-block;
    vertical-align: top;
    width: 48%; }
    footer .L2 h3 {
      color: #bbbbbb; }
    footer .L2 dt {
      color: #bbbbbb; }
    footer .L2 dd, footer .L2 p {
      margin-bottom: 0.75em; }

.overlay-container {
  display: none;
  height: 100%;
  position: fixed;
  width: 100%; }

.ui-widget-overlay {
  height: 100%;
  position: fixed !important;
  width: 100%;
  z-index: 2; }

.ui-widget-shadow {
  bottom: 40px;
  left: 50%;
  margin: 0 0 0 -510px !important;
  padding: 0 !important;
  position: fixed !important;
  top: 40px;
  width: 1021px;
  z-index: 2; }

.ui-widget-content {
  background: #111111;
  bottom: 50px;
  left: 50%;
  margin-left: -500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: fixed !important;
  top: 50px;
  width: 1000px;
  z-index: 3; }
