.clear {
  clear: both;
  float: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  background-image: url("/images/bg_black_paper.png");
  color: #e5e5e5;
  font-family: "museo-sans-1", "museo-sans-2", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-shadow: 0 1px 0 black; }

.container {
  margin: 0 auto;
  width: 960px; }

.L1 {
  margin: 3em 0; }

.L2 {
  margin: 1.5em 0; }

h1 {
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-size: 225%;
  font-weight: bold;
  line-height: 1.25; }

h2 {
  color: gray;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-size: 150%;
  font-weight: light;
  margin-bottom: 0.25em; }

a {
  color: #0fb913;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav {
  background-image: url("/images/logo.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  min-width: 42px;
  margin: 30px auto;
  width: 960px; }
  nav ul {
    float: right;
    font-family: "museo-slab-1", "museo-slab-2", sans-serif;
    list-style: none; }
    nav ul li {
      display: inline-block;
      float: left;
      font-size: 110%;
      padding: 0 20px;
      text-align: right; }
      nav ul li a {
        color: inherit;
        font-weight: bold; }
        nav ul li a:hover {
          color: #0fb913;
          text-decoration: none; }

.headline {
  padding-right: 220px; }
  .headline h1 {
    margin-bottom: 0.5em; }
  .headline p {
    font-size: 110%; }

img.me {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-box-shadow: 0 2px 5px black;
  -moz-box-shadow: 0 2px 5px black;
  box-shadow: 0 2px 5px black;
  border: 5px solid white;
  float: right;
  position: relative;
  right: 0;
  top: 5px; }

#social {
  background: -moz-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, rgba(38, 38, 38, 0)));
  background: -webkit-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  background: -o-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  background: -ms-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$sb_dark_gray', endColorstr='$sb_dark_gray',GradientType=0 );
  background: linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
  padding: 0.5em 1em;
  margin: 3em 0;
  width: 60%; }
  #social .network {
    color: #0fb913;
    display: inline-block;
    font-size: 90%;
    margin-left: 0.5em; }
  #social .social_link {
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    height: 36px;
    margin-right: 15px;
    position: relative;
    width: 36px; }
    #social .social_link:hover {
      background-color: #0fb913;
      text-decoration: none; }
  #social #twitter {
    background-image: url("/images/logo-twitter.png"); }
  #social #facebook {
    background-image: url("/images/logo-facebook.png"); }
  #social #linkedin {
    background-image: url("/images/logo-linkedin.png"); }
  #social #github {
    background-image: url("/images/logo-github.png"); }

#portfolio .current {
  height: 200px;
  width: 940px;
  margin-bottom: 5px; }
  #portfolio .current img {
    height: 140px;
    width: 940px; }
#portfolio figure {
  -webkit-transition: border 250ms;
  -moz-transition: border 250ms;
  -o-transition: border 250ms;
  -ms-transition: border 250ms;
  transition: border 250ms;
  background-color: #262626;
  border: 5px solid #262626;
  display: inline-block;
  height: 320px;
  margin-bottom: 5px;
  margin-right: 5px;
  position: relative;
  vertical-align: top;
  width: 300px; }
  #portfolio figure:hover {
    border-color: #0fb913; }
  #portfolio figure img {
    height: 200px;
    width: 300px; }
  #portfolio figure .name {
    color: gray;
    line-height: 1.2;
    padding: 3px 5px; }
  #portfolio figure .desc {
    display: block;
    font-size: 90%;
    line-height: 1.2;
    padding: 3px 5px; }

#writing .L2 {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 460px; }
#writing #tweets {
  width: 460px; }
  #writing #tweets li {
    background: -moz-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, rgba(38, 38, 38, 0)));
    background: -webkit-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: -o-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: -ms-linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$sb_dark_gray', endColorstr='$sb_dark_gray',GradientType=0 );
    background: linear-gradient(top, #262626 0%, rgba(38, 38, 38, 0) 100%);
    margin: 0.5em 0;
    padding: 0.5em; }
  #writing #tweets img {
    float: left;
    padding: 0 10px 0 0; }
  #writing #tweets .date {
    color: gray;
    font-size: 90%; }
  #writing #tweets .tweets {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: black;
    padding: 5px; }

#about p {
  margin: 1.5em 0; }
#about .L2 {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 300px; }

footer {
  background: black;
  padding: 20px; }

.project figure {
  background-color: #262626;
  border: 5px solid #262626;
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
  vertical-align: top; }
  .project figure figcaption {
    display: block;
    line-height: 1.2;
    padding: 0.5em 5px; }
