.clear {
  clear: both;
  float: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  background-image: url("/images/bg_black_paper2.png");
  color: #e5e5e5;
  font-family: "museo-sans-1", "museo-sans-2", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-shadow: 0 1px 0 black; }

.container {
  margin: 0 auto;
  width: 960px; }

.L1 {
  margin: 3em 0; }

.L2 {
  margin: 1.5em 0; }

h1 {
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-size: 225%;
  font-weight: bold;
  line-height: 1.25; }

h2 {
  color: gray;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-size: 150%;
  font-weight: light;
  margin-bottom: 0.25em; }

a {
  color: #0fb913;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }

.slideshow-container {
  height: 567px;
  margin-bottom: 40px; }
  .slideshow-container#boundary-ss1 #slider {
    height: 567px; }
  .slideshow-container #slider {
    background: black;
    border: 3px solid #262626;
    width: 798px;
    overflow: visible;
    position: relative; }
    .slideshow-container #slider ul {
      margin: 0;
      padding: 0;
      position: relative; }
    .slideshow-container #slider li {
      width: 798px;
      height: 100%;
      position: absolute;
      top: -100%;
      list-style: none; }
      .slideshow-container #slider li.firstanimation {
        animation: cycle 25s linear infinite; }
      .slideshow-container #slider li.secondanimation {
        animation: cycletwo 25s linear infinite; }
      .slideshow-container #slider li.thirdanimation {
        animation: cyclethree 25s linear infinite; }
      .slideshow-container #slider li.fourthanimation {
        animation: cyclefour 25s linear infinite; }
      .slideshow-container #slider li.fifthanimation {
        animation: cyclefive 25s linear infinite; }
      .slideshow-container #slider li.sixthanimation {
        animation: cyclesix 25s linear infinite; }
      .slideshow-container #slider li:hover .tooltip {
        left: 0; }
      .slideshow-container #slider li .tooltip {
        background: rgba(0, 0, 0, 0.7);
        width: 300px;
        height: 60px;
        position: relative;
        bottom: 95px;
        left: -320px;
        transition: left 0.3s ease-in-out; }
        .slideshow-container #slider li .tooltip h1 {
          color: white;
          font-size: 24px;
          font-weight: 300;
          line-height: 60px;
          padding: 0 0 0 10px; }
  .slideshow-container #mask {
    overflow: hidden;
    height: 100%; }
  .slideshow-container .progress-bar {
    position: relative;
    top: -5px;
    width: 680px;
    height: 5px;
    background: #0fb913;
    animation: fullexpand 25s ease-out infinite; }

/* ANIMATION */
@keyframes cycle {
  0% {
    top: 0px; }

  4% {
    top: 0px; }

  16% {
    top: 0px;
    opacity: 1;
    z-index: 0; }

  20% {
    top: 325px;
    opacity: 0;
    z-index: 0; }

  21% {
    top: -325px;
    opacity: 0;
    z-index: -1; }

  92% {
    top: -325px;
    opacity: 0;
    z-index: 0; }

  96% {
    top: -325px;
    opacity: 0; }

  100% {
    top: 0px;
    opacity: 1; } }

@keyframes cycletwo {
  0% {
    top: -325px;
    opacity: 0; }

  16% {
    top: 0px;
    opacity: 1;
    z-index: 0; }

  20% {
    top: 325px;
    opacity: 0;
    z-index: 0; }

  21% {
    top: -325px;
    opacity: 0;
    z-index: -1; }

  92% {
    top: -325px;
    opacity: 0;
    z-index: 0; }

  96% {
    top: -325px;
    opacity: 0; }

  100% {
    top: 0px;
    opacity: 1; } }

@keyframes fullexpand {
  0%, 20%, 40%, 60%, 80%, 100% {
    width: 0%;
    opacity: 0; }

  4%, 24%, 44%, 64%, 84% {
    width: 0%;
    opacity: 0.3; }

  16%, 36%, 56%, 76%, 96% {
    width: 100%;
    opacity: 0.7; }

  17%, 37%, 57%, 77%, 97% {
    width: 100%;
    opacity: 0.3; }

  18%, 38%, 58%, 78%, 98% {
    width: 100%;
    opacity: 0; } }

footer {
  background: #111111;
  width: 100%; }
  footer .L2 {
    display: inline-block;
    vertical-align: top;
    width: 48%; }
    footer .L2 h3 {
      color: #bbbbbb; }
    footer .L2 dt {
      color: #bbbbbb; }
    footer .L2 dd, footer .L2 p {
      margin-bottom: 0.75em; }
